
*{
   margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
    /* ADD THIS */
    position: sticky;
    top: 0;
    z-index: 1000;
}

header .logo{
    font-size: 24px;
    font-weight: bold;
}
header nav a{
    color:aliceblue;
    text-decoration: none;
    margin-left: 20px;
}
/*hero*/
.hero{
    background: linear-gradient(to right,#2563eb,#1e40af);
    color: white;
    text-align: center;
    padding: 80px 20px;
}
.hero h1{
    font-size: 40px;
}
.hero p{
    margin: 15px 0;
    font-size: 18px;
}
.hero button{
    padding: 12px 25px;
    border: none;
    background: white;
    color: #1e40af;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}
.stars{
    font-size:28px;
    color:#facc15;
    letter-spacing:5px;
}
.ribbon-banner{
    background: #ef4444;
    color: white;
    padding: 15px;
    text-align: center;
    font-weight: bold;
    position: relative;
}


/*sch0larship*/
.scholarship-banner{
    background: linear-gradient(to right, #2563eb, #1e3a8a);
    color: white;
    text-align: center;
    padding: 40px 20px;
}

.scholarship-banner h2{
    font-size: 28px;
    margin-bottom: 10px;
}

.scholarship-banner p{
    font-size: 18px;
    margin-bottom: 20px;
}

.scholarship-banner button{
    padding: 12px 25px;
    background: #facc15;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
}

.scholarship-banner button:hover{
    background: #fbbf24;
}
/*courses*/
.courses{
    padding: 50px 20px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.course-box{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}
.card{
    background: #f1f5f9;
    padding: 25px;
    width: 250px;
    border-radius: 10px;
}
/*about*/
.about{
    background: rgba(99, 61, 99, 0.933);
    padding: 50px 20px;
    text-align: center;
}
.testimonials{
    padding: 50px 20px;
    text-align: center;
    background: #f8fafc;
}
.teacher{
    padding: 40px;
    text-align: center;
}

/*contact*/
.contact{
    padding: 50px 20px;
    text-align: center;
    background: #f8fafc;
}
.contact h2 {
    font-size: 32px;
    color: #0f172a;
}

.subtitle{
    margin: 10px 0 40px;
    color: #5073a5;
}
.contact-box {
    display: flex;
    gap: 40px;
    justify-content: center;
    flex-wrap: wrap;
   
}
.contact-info {
    max-width:300px ;
    text-align: center;
}
.contact-info p {
margin-bottom: 20px;
font-size: 16px;
}
.contact-info a{
    color: #2563eb;
    text-decoration:none ;
    font-weight: 500;
}
.contact-map {
    max-width: 400px;
    width: 100px;
}
/*addmision*/
/* ===== Admission Section ===== */
.admission {
    padding: 60px 20px;
    background: #f8fafc;
    text-align: center;
}

.admission h2 {
    font-size: 30px;
    margin-bottom: 30px;
    color: #1e293b;
}

.admission-form {
    max-width: 800px;
    margin: auto;
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}

.form-group {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.admission-form input,
.admission-form select,
.admission-form textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
}

.admission-form textarea {
    resize: none;
    height: 100px;
    margin-bottom: 20px;
}

.admission-form button {
    width: 100px;
    padding: 12px;
    background: #2563eb;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}
.addmission-form button:hover {
    background: #1d4ed8;
}
/* responsive */
@media(max-width: 768px){
    .form-group {
        flex-direction: column;
    }
}
.gallery{
   padding: 50px 20px;
   text-align: center;
   background: #f1f5f9;
   
}
.gallery h2 {
    margin-bottom: 30px;
    font-size: 28px;
}
.gallery-container {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px, 1fr));
    gap: 15px;
}
.gallery-container img {
    width:200px;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    transition: 0.3s;
}
.gallery-container img:hover {
    transform: scale(1.05);
}
.contact iframe{
    margin-top: 20px;
    border-radius: 10px;
}
.whatsapp{
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #25d366;
    color: white;
    padding: 15px;
    border-radius: 50%;
    font-size: 22px;
    text-decoration: none;
}
.notice-bar{
    background: #facc15;
    color: #000;
    text-align: center;
    padding: 10px;
    font-weight: bold;
}
.enroll-btn{
    display: inline-block;
    margin-top: 20px;
    padding: 12px 30px;
    background-color: #2563eb;
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 30px;
    transition: 0.3s;
}
.enroll-btn:hover{
    background: #1e40af;
    transform: scale(1.05);
}
/*footer*/
footer{
    background: #1e293b;
    color: white;
    text-align: center;
    padding: 15px;
}
/*navbar*/
header{
    background: rgb(52, 52, 116);
    color: white;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo{
    font-size: 24px;
    font-weight: bold;
}
header nav a{
    color:aliceblue;
    text-decoration: none;
    margin-left: 20px;
}
/*hero*/
.hero{
    background: linear-gradient(to right,#2563eb,#1e40af);
    color: white;
    text-align: center;
    padding: 80px 20px;
}
.hero h1{
    font-size: 40px;
}
.hero p{
    margin: 15px 0;
    font-size: 18px;
}
.hero button{
    padding: 12px 25px;
    border: none;
    background: white;
    color: #1e40af;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}
/*courses*/
.courses{
    padding: 50px 20px;
    text-align: center;
}
.course-box{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}
.card{
    background: #f1f5f9;
    padding: 25px;
    width: 250px;
    border-radius: 10px;
}
/*about*/
.about{
    background: #e0f2fe;
    padding: 50px 20px;
    text-align: center;
}
/*contact*/
.contact{
    padding: 50px 20px;
    text-align: center;
}
/*footer*/
footer{
    background: #1e293b;
    color: white;
    text-align: center;
    padding: 15px;
}
/*addmision*/
.addmission {
    padding: 50px 20px;
    text-align: center;
    background: #f8fafc;
}
.addmission from{
    max-width: 400px;
    margin: auto;
}
.addmission input,
.admission select,
.addmission button{
    width:100% ;
    padding: 10px;
    margin: 10px 0;
}
.addmission button{
background: #2563eb;
color: white;
border: none;
cursor:pointer;
}
