*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
/*navbar*/
header{
    background: rgb(52, 52, 116);
    color: white;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo{
    font-size: 24px;
    font-weight: bold;
}
header nav a{
    color:aliceblue;
    text-decoration: none;
    margin-left: 20px;
}
/*hero*/
.hero{
    background: linear-gradient(to right,#2563eb,#1e40af);
    color: white;
    text-align: center;
    padding: 80px 20px;
}
.hero h1{
    font-size: 40px;
}
.hero p{
    margin: 15px 0;
    font-size: 18px;
}
.hero button{
    padding: 12px 25px;
    border: none;
    background: white;
    color: #1e40af;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}
/*courses*/
.courses{
    padding: 50px 20px;
    text-align: center;
}
.course-box{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}
.card{
    background: #f1f5f9;
    padding: 25px;
    width: 250px;
    border-radius: 10px;
}
/*about*/
.about{
    background: rgba(99, 61, 99, 0.933);
    padding: 50px 20px;
    text-align: center;
}
/*contact*/
.contact{
    padding: 50px 20px;
    text-align: center;
}
/*footer*/
footer{
    background: #1e293b;
    color: white;
    text-align: center;
    padding: 15px;
}
/*addmision*/
.addmission {
    padding: 50px 20px;
    text-align: center;
    background: #357587;
}
.addmission from{
    max-width: 400px;
    margin: auto;
}
.addmission input,
.admission select,
.addmission button{
    width:100% ;
    padding: 10px;
    margin: 10px 0;
}
.addmission button{
background: #305fc6;
color: black;

border: none;
cursor:pointer;
}